<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        .navbar {
            display: inline;
        }
        .navbar a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a> 
    {% if user.is_authenticated %}
        | <a href="/logout/">Logout</a>
        | <a href="/changepass/">Change Password</a>
    {% else %}
     | <a href="/login/">Login</a> | <a href="/register/">Register</a>
     {% endif %}
</div>
{% block content %}
    
{% endblock content %}
</body>
</html>